body {
    padding: 0;
    margin: 0;
}

*{
    box-sizing: border-box;
}

@media screen and (min-width: 1008px) {

    header {
        height: 100px;
        background-color: grey;
        padding-left: 10px;
        padding-top: 10px;
    }

    section {
        height: 400px;
        background-color: #45a842;
        padding-left: 10px;
        padding-top: 10px;
        width: 50vw;
        display: inline-block;
    }

    article {
        height: 400px;
        background-color: green;
        padding-left: 10px;
        padding-top: 10px;
        width: 25vw;
        display: inline-block;
        order: -1;
    }

    aside {
        background-color: yellow;
        height: 400px;
        padding-left: 10px;
        padding-top: 10px;
        width: 25vw;
        display: inline-block;
    }

    .container1 {
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
    }

    footer {
        height: 100px;
        background-color: grey;
        padding-left: 10px;
        padding-top: 10px;
    }

}

@media screen and (min-width: 641px) and (max-width: 1007px) {

    header {
        height: 50px;
        background-color: grey;
        padding-left: 10px;
        padding-top: 10px;
    }

    section {
        height: 400px;
        background-color: #45a842;
        padding-left: 10px;
        padding-top: 10px;
        width: 100vw;

    }

    article {
        height: 400px;
        background-color: green;
        padding-left: 10px;
        padding-top: 10px;
        width: 50%;
   
    }

    aside {
        background-color: yellow;
        height: 400px;
        padding-left: 10px;
        padding-top: 10px;
        width: 50%;
 
        

    }

    .container1 {
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        flex-wrap: wrap;
    }

    footer {
        height: 50px;
        background-color: grey;
        padding-left: 10px;
        padding-top: 10px;
    }
}

@media screen and (max-width: 640px) {
    header {
        height: 50px;
        background-color: grey;
        padding-left: 10px;
        padding-top: 10px;
    }

    section {
        height: 400px;
        background-color: #45a842;
        padding-left: 10px;
        padding-top: 10px;
        width: 100vw;
        display: inline-block;
    }

    article {
        height: 200px;
        background-color: green;
        padding-left: 10px;
        padding-top: 10px;
        width: 100vw;
        display: inline-block;
    }

    aside {
        background-color: yellow;
        height: 200px;
        padding-left: 10px;
        padding-top: 10px;
        width: 100vw;
        display: inline-block;

    }

    .container1 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    footer {
        height: 50px;
        background-color: grey;
        padding-left: 10px;
        padding-top: 10px;
    }
    
}
