body {
    padding: 0;
    margin: 0;
}

@media screen and (min-width: 1008px) {
    header {
        height: 100px;
        background-color: grey;
        padding-left: 10px;
        padding-top: 10px;
    }
    
    section {
        height: 200px;
        background-color: red;
        padding-left: 10px;
        padding-top: 10px;
    
    }
    
    article {
        height: 200px;
        background-color: orange;
        padding-left: 10px;
        padding-top: 10px;
    
    }
    
    aside {
        background-color: yellow;
        padding-left: 10px;
        padding-top: 10px;
        width: 25%;
    }
    
    .container1 {
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
     
    }
    .container2 {
        width: 75%;
    }
    
    footer{
        height: 100px;
        background-color: grey;
        padding-left: 10px;
        padding-top: 10px;
    }
}

@media screen and (min-width: 641px) and (max-width: 1007px) {
    header {
        height: 50px;
        background-color: grey;
        padding-left: 10px;
        padding-top: 10px;
    }
    
    section {
        height: 200px;
        background-color: red;
        padding-left: 10px;
        padding-top: 10px;
    
    }
    
    article {
        height: 200px;
        background-color: orange;
        padding-left: 10px;
        padding-top: 10px;
    
    }
    
    aside {
        background-color: yellow;
        padding-left: 10px;
        padding-top: 10px;
        width: 50%;
    }
    
    .container1 {
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
     
    }
    .container2 {
        width: 50%;
    }
    
    footer{
        height: 50px;
        background-color: grey;
        padding-left: 10px;
        padding-top: 10px;
    }
}

@media screen and (max-width: 640px) {
    header {
        height: 50px;
        background-color: grey;
        padding-left: 10px;
        padding-top: 10px;
    }
    
    section {
        height: 200px;
        background-color:red;
        padding-left: 10px;
        padding-top: 10px;
    
    }
    
    article {
        height: 200px;
        background-color: orange;
        padding-left: 10px;
        padding-top: 10px;
    
    }
    
    aside {
        height: 200px;
        background-color: yellow;
        padding-left: 10px;
        padding-top: 10px;
        width: 100%;
    }
    
    .container1 {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .container2 {
        width: 100%;
    }
    
    footer{
        height: 50px;
        background-color: grey;
        padding-left: 10px;
        padding-top: 10px;
    }
    
}
